CREATE TABLE IF NOT EXISTS "medicos" ("id" bigserial PRIMARY KEY NOT NULL, "nome" text NOT NULL, "cpf" text NOT NULL UNIQUE, "crm" text NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "pacientes" ("id" bigserial PRIMARY KEY NOT NULL, "nome" text NOT NULL, "cpf" text NOT NULL UNIQUE, "data_nascimento" bigint NOT NULL, "plano" text NOT NULL);